<%= form_for(@seminar) do |f| %>
  <% if @seminar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seminar.errors.count, "error") %> prohibited this seminar from being saved:</h2>

      <ul>
      <% @seminar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description, "Seminar description. Limit 5,000 characters" %><br>
    <%= f.text_area :description, :size => "100x10" %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :"instructorName", "Instructor Name" %><br>
    <%= f.text_field :instructorName %>
  </div>
  <div class="field">
    <%= f.label :seminar_link, "Seminar URL" %><br>
    <%= f.text_field :seminar_link %>
  </div>

  <div class="field">
    <%= f.label :thumbnail, "Upload a thumbnail for your seminar" %><br>
    <%= f.file_field :thumbnail %>
  </div>

  <div class="field">
    <%= f.label :seminar_link, "Seminar URL" %><br>
    <%= f.text_field :seminar_link %>
  </div>

  <div class="field">
    <script type="text/javascript" src="datepicker/bootstrap-datepicker.js"></script>
    <%= f.label :startDate, "Seminar URL" %><br>
    <%= f.text_field :startDate %>
  </div>

  <form>
  <div class="well span12 main">
  <input type="text" id="dp1" class="span2 datepicker" placeholder="Date..."  
           name="date"> <br>
      </div>
      <input type="submit" value="Search" class="btn">
  </form>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>


