

    <div class="container">

      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>
      <div class="row">
        <div class="col-md-4 facetNav">
          <span><h2>Facets</h2></span>
          <a href="/seminars?blah[]=Technology Coaching&blah[]=ipad">Facets</a>


        </div>
        <div class="col-md-7 listing">
          <ul>
            <% debug(@seminars) %>
            <% @seminars.each do |seminar| %>

              <li class="list-group-item container">
                <div class= 'col-md-8'>
                <h2><%= seminar.title %></h2>
                <h4><%= link_to seminar.description, seminar.additional_resource_link %></h4>
                <h7><%= seminar.instructorName %></h7>
                <h7><%= seminar.startDate %></h7>
              </div>
                <div class = 'col-md-4 actions'>
                 <p><%= button_tag "Free", class: "btn btn-primary" %></p>
                 <p><%= button_tag "SignUp", class: "btn btn-primary" %></p>
               </div>

                <% seminar.tags.each do |tag| %>
                  <%= tag.title %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

    </div><!-- /.container -->



<!-- <h1>Listing seminars</h1>

<br>

<%= link_to 'New Seminar', new_seminar_path %> -->
