    <div class="container">
<div class = "row">
  <div class = "form-control example-countries typeahead buffered">
        <%= form_tag seminars_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search], :placeholder => "Enter search"%>
          <%= submit_tag "search", :class => "btn btn-primary autocomplete-btn" %>
        <% end %>
      </div>
</div>


      <div class="row">
        <div class="col-md-4 facetNav">
          <span><h2>Facets</h2></span>


          <a href="/seminars?blah[]=Technology Coaching&blah[]=ipad">Facets</a>


          <% @frontendTags.each do |key, value| %>
              <%= check_box_tag("tags[]", value) %>
            <%= value %>
          <% end %>
        </div>
        <div class="col-md-7 listing">
          <div class="panel-group" id="accordion">
            <% @seminars.each do |seminar| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=<%= '#' + seminar.id %> >
                      <h2><%= seminar.title %></h2>
                    </a>
                  </h4>
                </div>
                <div class="panel-collapse collapse" id=<%= seminar.id %> >
                  <div class="panel-body">
                    <%= seminar.description %>
                    <% seminar.tags.each do |tag| %>
                      <%= tag.title %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div><!-- /.container -->


<!-- <h1>Listing seminars</h1>

<br>



<%= link_to 'New Seminar', new_seminar_path %> -->
