
    <div class="container">
<div class = "row">
  <div class = "form-control example-countries typeahead buffered">
        <%= form_tag seminars_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search], :placeholder => "Enter search"%>
          <%= submit_tag "search", :class => "btn btn-primary autocomplete-btn" %>
        <% end %>
      </div>
</div>


      <div class="row">
        <div class="col-md-4 facetNav">

          <%= form_tag "/seminars", :method => 'get' do %>

          <div style="text-align:left;padding-left:80px">
            <span><h3>Refinements</h3></span>
            <span><h4>Tags</h4></span>
          <span>
            <% @frontendTags.each do |key, value| %>

            <% if @tagsArray != nil && (@tagsArray.include? value) %>
              <%= check_box_tag("tags[]", value, 'active') %>
            <% else %>
              <%= check_box_tag("tags[]", value) %>
            <% end %>
              <%= value %>
              <br/>
            <% end %>
          </span>

            <span><h4>Pricing</h4></span>
            Free
            <% if @pr == "1" %>
              <%= radio_button_tag(:pr, "1", true) %>
            <% else %>
              <%= radio_button_tag(:pr, "1") %>
            <% end %>
            Paid
            <% if @pr == "0" %>
              <%= radio_button_tag(:pr, "0", true) %>
            <% else %>
              <%= radio_button_tag(:pr, "0") %>
            <% end %>

            <span><h4>Location</h4></span>
            Online
            <% if @online == "1" %>
              <%= radio_button_tag(:online, "1", true) %>
            <% else %>
              <%= radio_button_tag(:online, "1") %>
            <% end %>
            In Person
            <% if @online == "0" %>
              <%= radio_button_tag(:online, "0", true) %>
            <% else %>
              <%= radio_button_tag(:online, "0") %>
            <% end %>
              <%= hidden_field_tag :search, @search %>
            <span><%= submit_tag "search", :class => "btn btn-primary" %><span/>
          </div>
          <% end %>
        </div>

        <div class="col-md-7 listing">
          <div class="panel-group" id="accordion">
            <% @seminars.each do |seminar| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href=<%= '#' + seminar.id %> >
                    <div class="list-group-item container">
                       <div class= 'col-md-10'>
                <h2><%= seminar.title %></h2>
                <h7><%= seminar.instructorName %></h7>
                <h7><%= seminar.startDate.strftime("%A; %B %d, %Y; %H:%M %p") %></h7>
                    </div>
                <div class = 'col-md-2 actions'>
                 <p><%= button_tag "Free", class: "btn btn-primary" %></p>
                 <p><%= button_tag "SignUp", class: "btn btn-primary" %></p>
               </div>
             </div>
           </a>
         </h4>
       </div>
       <div class="panel-collapse collapse" id=<%= seminar.id %> >
                  <div class="panel-body">
                    <%= seminar.description %>
                    <h4><%= link_to seminar.additional_resource_link, 'http://' + seminar.additional_resource_link %></h4>
                    <% seminar.tags.each do |tag| %>
                      <%= tag.title %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div><!-- /.container -->


<!-- <h1>Listing seminars</h1>

<br>



<%= link_to 'New Seminar', new_seminar_path %> -->
